apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: finance-tracker
  labels:
    app: auth-service
    app.kubernetes.io/name: auth-service
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  selector:
    app: auth-service
  ports:
    - name: http
      port: 3001
      targetPort: http
      protocol: TCP
